body{
  padding: 40px;

  background-color: rgb(252, 245, 235);
  color: #1b1d1d;

  font-family: "Barlow Semi Condensed", serif;
  font-weight: 200;
}

h1 {
  font-size: 1.8em;
  margin: 0;
  font-weight: 100!important;
}

h2 {
  font-weight: 100;
  font-size: 1.2em;
}

h3 {
  font-size: 1em;;
}

p{
  margin: 0;
}

a {
  color: black;
  text-decoration: none;

  font-weight: 100;
}

a:hover{
  color: #b3c2c2;
}

ul{
  padding-left: 0;
}

li {
  list-style-type: none;
  margin-left:0;
  margin-bottom: 1rem;

  font-weight: 100;
}

.nav-item{
  font-size: 1.2em;
}

.icon{
  width: 30px;
  padding: 0 16px 0 0;
}

.mt-1{
  margin-top: 1rem;
}

.mt-2{
  margin-top: 2rem;;
}

.mt-3{
  margin-top: 3rem;
}

.mt-4{
  margin-top: 4rem;
}

.presse{
  display: flex;
  flex-direction: column;

  gap: 1rem;

  font-size: 1.3em;
}

.menu{
  display: flex;
  flex-direction: column;

  gap: 12px;

  color: #5c4939
}

.page-title{
  display: flex;
  justify-content: space-between;

}

.container{
  display: flex;
  flex-direction: column;
  align-items: center;

  margin-top: 8rem;
}

@media screen and (min-width: 768px){
  .book-row{
    display: flex;
    flex-wrap: wrap;
    min-width:1100px;
    max-width: 800px;
  }

  .image-livre{
    min-height: 100%;
    max-height: 450;
    width:auto!important;
    max-width: 320px;
  }
}

.image-livre{
  width: 300px;
}

.book-row{
  gap: 40px;
  margin: 1.5rem 0;
}

@media only screen and (max-width: 768px) {
  .content{
    display: flex;
    flex-direction: column;
    margin-top: 100px!important ;
  }
}

.content{
  display: flex;
  justify-content: center ;

  margin-top: 150px;
}

@media screen and (min-width: 768px){
  .bio{
    margin-left: 10rem;
    padding-top: 0!important;
  }
}

.bio{
  display: flex;
  flex-direction: column;
  justify-content: center;

  padding-top: 50px;

  font-size: 1.3em;
  max-width: 400px;
}

.profile-image{
  max-width: 600px;
  max-height: 600px;
}

.column{
  display: flex;
  flex-direction: column;

  justify-content: center;
  align-items: center;
}

.livre{
  display: flex;
  justify-content: center;

  margin-bottom: 3rem;
}

@media screen and (min-width: 768px) {
  .livre{
    justify-content: flex-start!important;
    margin-bottom: 0!important;
  }

  .presse-wrapper{
    display: flex;
  }

  .citations {
    display: flex;
    flex-direction: column;

    margin-top: 2rem;

    font-size: 1.4em;
    color: #b1b1a8;

    gap: 8rem;

    font-size: 1.7em!important;
    margin-right: 5rem;
    max-width: 700px;
    padding-top: 5rem;
  }
}
  

@media(max-width: 768px) {
  .citations {
    display: none;
  }
}

.citation {
  border-left: 5px solid #b1b1a8;
  padding-left: 20px;

}